# Python / ambiente virtual
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Credenciais reais
.env
.env.local
.env.hml
.env.prod
.env.production
.env.*.local
.env.*.secret

# Exemplos permitidos
!.env.example
!.env.production.example

# Logs
logs/
*.log

# Storage local
storage/downloads/*
storage/temp/*
storage/hml/*
storage/browser_profile/

# Mantém pastas vazias no Git se houver .gitkeep
!storage/downloads/.gitkeep
!storage/temp/.gitkeep
!storage/hml/.gitkeep

# Sistema / editor
.DS_Store
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml
